In [1]:
import yfinance as yf
import warnings
import pandas as pd
import numpy as np
import requests
from datetime import datetime, timedelta
from IPython.display import display, HTML
import sqlite3
import mysql.connector
import pyarrow
import argparse
from datetime import datetime

def number_of_days():
    #The number of days since the fear data was registered
    first_day = pd.to_datetime('2018-02-01')
    today = pd.to_datetime(datetime.today().date())
    days = (today - first_day).days
    return days



def extract_data(exchange, days):
    
    #exchange = "BTC-USD"
    get_date = datetime.now()
    get_date_formated = get_date.strftime("%Y-%m-%d")
    get_date_730_days_ago = get_date - timedelta(days=729)
    get_date_730_days_ago_formated = get_date_730_days_ago.strftime("%Y-%m-%d")

    daily_data = yf.download(exchange
                    ,start = "2012-01-01"
                    ,end = get_date_formated)



    hour_data = yf.download(exchange
                    ,start = get_date_730_days_ago_formated
                    ,end = get_date_formated
                    ,interval = "1h")
    
    r = requests.get(f'https://api.alternative.me/fng/?limit={days}')
    fear_data = pd.DataFrame(r.json()['data'])
    
    
    return daily_data, hour_data, fear_data

In [2]:
exchange = 'BTC-USD'
daily_data, hour_data, fear_data = extract_data(exchange, 300)
daily_data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2024-07-15,60815.457031,64870.152344,60704.929688,64870.152344,64870.152344,38094526099
2024-07-16,64784.417969,65354.339844,62487.968750,65097.148438,65097.148438,41617346768
2024-07-17,65091.832031,66066.734375,63896.085938,64118.792969,64118.792969,32525071311
2024-07-18,64104.738281,65104.660156,63246.164062,63974.066406,63974.066406,27239305337
2024-07-19,63972.324219,67442.640625,63329.343750,66710.156250,66710.156250,37003855410

In [3]:
daily_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2024-07-15,60815.457031,64870.152344,60704.929688,64870.152344,64870.152344,38094526099
2024-07-16,64784.417969,65354.339844,62487.968750,65097.148438,65097.148438,41617346768
2024-07-17,65091.832031,66066.734375,63896.085938,64118.792969,64118.792969,32525071311
2024-07-18,64104.738281,65104.660156,63246.164062,63974.066406,63974.066406,27239305337
2024-07-19,63972.324219,67442.640625,63329.343750,66710.156250,66710.156250,37003855410